body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    padding: 20px;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #070707;
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}